# fly.toml app configuration file generated for backend-purple-feather-9888 on 2024-11-29T16:54:49-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-purple-feather-9888'
primary_region = 'eze'

[build]
[deploy]
  release_command = "psql $DATABASE_URL -f init.sql"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
